[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) { display: none ! important; }
/* ::::: https://dijqem2norbpi.cloudfront.net/app/201606211157/css/var-03FF07.css ::::: */

audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a:focus { outline: thin dotted; }
a:active, a:hover, a:focus { outline: 0px none; text-decoration: none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0px; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
textarea { overflow: auto; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0px; }
*, *::before, *::after { box-sizing: border-box; }
html { font-size: 62.5%; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
button, input, select[multiple], textarea { background-image: none; }
a { color: rgb(66, 139, 202); text-decoration: none; outline: medium none; }
a:hover, a:focus { color: rgb(42, 100, 150); text-decoration: none; outline: medium none; }
a:focus { outline-offset: -2px; outline: medium none; }
p { margin: 0px 0px 10px; }
ul, ol { margin-top: 0px; margin-bottom: 10px; }
ul ul, ol ul, ul ol, ol ol { margin-bottom: 0px; }
a:hover { text-decoration: none; }
.pull-left { float: left ! important; }
.invisible { visibility: hidden; }
.clearfix::before, .clearfix::after { content: " "; display: table; }
.clearfix::after { clear: both; }

[data-icon]::before { font-family: "yarooms-icons" ! important; content: attr(data-icon); font-style: normal ! important; font-weight: normal ! important; font-variant: normal ! important; text-transform: none ! important; line-height: 1; }
[class^="icon-"]::before, [class*=" icon-"]::before { font-family: "yarooms-icons" ! important; font-style: normal ! important; font-weight: normal ! important; font-variant: normal ! important; text-transform: none ! important; line-height: 1; }
.icon-1::before { content: "1"; }
.icon-2::before { content: "2"; }
.icon-3::before { content: "3"; }
.icon-4::before { content: "4"; }
.icon-9::before { content: "9"; }
.icon-a::before { content: "a"; }
.icon-b::before { content: "b"; }
.icon-c::before { content: "c"; }
.icon-d::before { content: "d"; }
.icon-e::before { content: "e"; }
.icon-8::before { content: "8"; }
.icon-f::before { content: "f"; }
.icon-g::before { content: "g"; }
.icon-h::before { content: "h"; }
.icon-i::before { content: "i"; }
.icon-j::before { content: "j"; }
.icon-k::before { content: "k"; }
.icon-l::before { content: "l"; }
.icon-m::before { content: "m"; }
.icon-n::before { content: "n"; }
.icon-o::before { content: "o"; }
.icon-p::before { content: "p"; }
.icon-q::before { content: "q"; }
.icon-r::before { content: "r"; }
.icon-s::before { content: "s"; }
.icon-t::before { content: "t"; }
.icon-u::before { content: "u"; }
.icon-v::before { content: "v"; }
.icon-x::before { content: "x"; }
.icon-eye::before { content: "w"; }
*, *::before, *::after { font-family: museo-sans,sans-serif; }
html { height: 100%; }
body { background-color: rgb(57, 69, 59); overflow: hidden; height: 100%; }
a, a:link, a:visited { font-size: 14px; font-weight: 500; color: rgb(16, 202, 18); transition: background-color 0.25s ease 0s; }
h2 { font-size: 20px; line-height: 20px; font-weight: 300; margin: 0px; padding: 0px; }
#wrapper { width: 100%; height: 100%; position: relative; overflow: hidden; }
#wrapper #left { width: 200px; height: 100%; position: relative; background-color: rgb(57, 69, 59); transition: width 0.25s ease-out 0s; -moz-user-select: none; }
#wrapper #left #logo { background-color: rgb(57, 69, 59); border-bottom: 1px solid rgb(47, 56, 49); }
#wrapper #left #logo a { display: block; width: 100%; height: 100%; text-align: center; background: transparent url('logo.svg') no-repeat scroll center center; margin: -1px auto 0px; position: relative; top: 50%; transform: translateY(-50%); }
#wrapper #left #logo .small-logo { display: none; background-image: url('logo-small.svg'); }
#wrapper #left .main-menu ul { list-style-type: none; margin: 0px; padding: 0px; display: block; }
#wrapper #left .main-menu ul li { display: block; clear: both; max-height: 40px; }
#wrapper #left .main-menu ul li a { display: block; height: 40px; padding: 5px 0px 0px; text-decoration: none; color: rgb(209, 229, 210); font-size: 19px; font-weight: 300; overflow: hidden; line-height: 26px; }
#wrapper #left .main-menu ul li a i { display: block; float: left; width: 38px; height: 35px; color: rgb(16, 202, 18); text-align: right; padding-right: 9px; position: relative; top: 2px; }
#wrapper #left .main-menu ul li a i.arrow { float: right; font-size: 9px; height: auto; width: auto; padding-right: 0px; margin-right: 13px; transform: rotate(180deg); }
#wrapper #left .main-menu ul li a:hover { color: rgb(255, 255, 255) ! important; }
#wrapper #left .main-menu ul li.on a i.arrow { transform: rotate(0deg); }
#wrapper #left .main-menu > ul > li { overflow: hidden; }
#wrapper #left .main-menu > ul > li > a { border-bottom: 1px solid rgb(47, 56, 49); }
#wrapper #left .main-menu > ul > li > ul > li { height: 40px; overflow: hidden; }
#wrapper #left .main-menu > ul > li > ul a { height: 40px; color: rgb(181, 214, 185); font-size: 17px; padding-top: 7px; }
#wrapper #left .main-menu > ul > li > ul a i { width: 56px; font-size: 14px; top: 4px; }
#wrapper #left .main-menu > ul > li > ul a:hover, #wrapper #left .main-menu > ul > li > ul > li.on a { background-color: rgb(47, 56, 49); }
#wrapper #left .main-menu > ul > li > ul a:active, #wrapper #left .main-menu > ul > li > ul a:focus { font-size: 16px; }
#wrapper #left .main-menu > ul > li > ul a:active i, #wrapper #left .main-menu > ul > li > ul a:focus i { font-size: 13px; color: rgb(181, 214, 185); }
#wrapper #left .main-menu > ul > li:hover { background-color: rgb(54, 64, 55); }
#wrapper #left .main-menu > ul > li.on { background-color: rgb(54, 64, 55); max-height: 320px; transition: max-height 0.25s ease-in 0s; }
#wrapper #left .main-menu > ul > li.on a { border: 0px none; }
#wrapper #left .main-menu > ul > li.on a:hover { background-color: rgb(47, 56, 49); }
#wrapper #left .main-menu > ul > li.on i.arrow { display: none; }
#wrapper #left .main-menu > ul > li.on ul li:last-child { border-bottom: 1px solid rgb(47, 56, 49); }
#wrapper #left #left-footer { width: 200px; border-top: 1px solid rgb(47, 56, 49); background-color: rgb(54, 64, 55); position: fixed; bottom: 0px; transition: width 0.25s ease-out 0s; }
#wrapper #left #left-footer .container { border-bottom: 1px solid rgb(47, 56, 49); font-weight: 300; font-size: 14px; padding: 10px 13px; }
#wrapper #left #left-footer .container.user { padding-bottom: 4px; }
#wrapper #left #left-footer p { float: left; overflow: hidden; color: rgb(87, 112, 89); padding: 0px; margin: 0px; }
#wrapper #left #left-footer p.user { color: rgb(181, 214, 185); max-width: 158px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
#wrapper #left #left-footer a { color: rgb(87, 112, 89); font-weight: 300; }
#wrapper #left #left-footer a.icon { float: right; margin: 2px 0px 0px; color: rgb(16, 202, 18); text-decoration: none; font-size: 16px; }
#wrapper #left #left-footer a:hover { color: rgb(181, 214, 185); }
#wrapper #right { transition: margin-left 0.25s ease-out 0s; height: 100%; background-color: rgb(255, 255, 255); color: rgb(255, 255, 255); overflow: hidden; position: relative; }
#wrapper #right #header { background-color: rgb(209, 229, 210); position: relative; overflow: hidden; transition: height 0.25s ease-in 0s; -moz-user-select: none; }
#wrapper #right #header .big-text, #wrapper #right #header h1, #wrapper #right #header .date-selector-trigger a.date { color: rgb(57, 69, 59); font-size: 36px; line-height: 36px; font-weight: 100; }
#wrapper #right #header .big-text:hover, #wrapper #right #header h1:hover, #wrapper #right #header .date-selector-trigger a.date:hover { text-decoration: none; }
#wrapper #right #header h1 { margin: 0px; position: absolute; top: 38px; padding-left: 35px; display: inline; max-width: 70%; }
#wrapper #right #header .date-selector-trigger { position: absolute; width: 100%; top: 38px; text-align: center; }
#wrapper #right #header .date-selector-trigger a.arrow { font-size: 30px; width: 30px; height: 30px; text-align: right; color: rgb(16, 202, 18); position: relative; top: 4px; display: inline-block; }
#wrapper #right #header .date-selector-trigger a.arrow i {  }
#wrapper #right #header .date-selector-trigger a.go-left { transform: rotate(-90deg); }
#wrapper #right #header .date-selector-trigger a.go-right { transform: rotate(90deg); }
#wrapper #right #header .date-selector-trigger a.date { margin: 0px 16px; }
#wrapper #right #header .date-selector-trigger a.calendar { font-size: 23px; width: 30px; height: 30px; color: rgb(16, 202, 18); position: relative; margin-left: 12px; }
#wrapper #right #header .date-selector-trigger a.arrow:active, #wrapper #right #header .date-selector-trigger a.calendar:active { color: rgb(57, 69, 59); }
#wrapper #right #header .date-selector-trigger a.date:active { color: rgb(16, 202, 18); }
#wrapper #right #header .search { width: 254px; float: right; margin: 40px 70px 0px 0px; position: relative; }
#wrapper #right #header .search .not-found { position: absolute; left: 0px; height: 33px; background-color: rgb(235, 131, 118); color: rgb(255, 255, 255); padding: 5px 15px; font-size: 16px; z-index: 1; transition: left 0.25s ease 0s; }
#wrapper #right #header .search input { border: 0px none; background-color: rgb(255, 255, 255); width: 254px; height: 33px; padding: 3px 10px; color: rgb(142, 168, 146); font-weight: 500; font-size: 16px; font-style: italic; position: absolute; right: 0px; z-index: 2; }
#wrapper #right #header .search input:focus { outline: medium none; }
#wrapper #right #header .search i { position: absolute; right: 10px; top: 6px; color: rgb(16, 202, 18); font-size: 16px; background-color: rgb(255, 255, 255); transform: rotate(90deg); z-index: 3; }
#wrapper #right #header .search .icon-x { color: rgb(232, 101, 84); font-size: 12px; top: 8px; cursor: pointer ! important; }
#wrapper #right #header .search-active .icon-g::after { content: ""; position: absolute; left: -0.05em; top: -0.05em; width: 1em; height: 1em; border: 0.25em solid rgb(16, 180, 202); border-radius: 10em; opacity: 0; animation: 2s linear 0.9s normal none infinite running searching--secondary; }
#wrapper #right #header .datepicker { width: 570px; margin: 0px auto; padding-top: 150px; }
#wrapper #right #header .datepicker .date-selector-trigger { display: none; left: auto; width: 610px; text-align: center; }
#wrapper #right #header .datepicker .date-selector-trigger a { display: inline; float: none; }
#wrapper #right #header .datepicker a.arrow { float: left; color: rgb(16, 202, 18); width: 60px; height: 118px; display: block; margin-top: 85px; }
#wrapper #right #header .datepicker a.arrow i { font-size: 60px; }
#wrapper #right #header .datepicker a.arrow:hover i { color: rgb(181, 214, 185); }
#wrapper #right #header .datepicker a.left { transform: rotate(-90deg); margin-right: 40px; }
#wrapper #right #header .datepicker a.right { transform: rotate(90deg); margin-left: 40px; }
#wrapper #right #header .datepicker .body { float: left; width: 350px; height: 290px; }
#wrapper #right #header .datepicker .body table thead td { width: 50px; height: 30px; color: rgb(232, 101, 84); font-size: 14px; font-weight: 500; text-transform: uppercase; text-align: center; }
#wrapper #right #header .global-loading { position: absolute; bottom: 0px; width: 100%; height: 9px; }
#wrapper #right #header .global-loading span { display: inline-block; height: 100%; width: 100%; background-image: linear-gradient(-45deg, rgb(16, 202, 18) 25%, transparent 25%, transparent 50%, rgb(16, 202, 18) 50%, rgb(16, 202, 18) 75%, transparent 75%, transparent); background-size: 50px 50px; animation: 1s linear 0s normal none infinite running progress; overflow: hidden; }
#wrapper #right #header .global-loading span::after { display: none; }
#wrapper #right #error { display: inline; max-width: 300px; padding: 15px 25px 15px 20px; font-size: 16px; position: absolute; z-index: 10000; top: 100px; right: -1000px; transition: all 1s ease 0s; }
#wrapper #right #error span { font-weight: 300; display: block; }
#wrapper #right #error em { display: block; margin-top: 5px; color: rgb(87, 112, 89); font-size: 13px; }
#wrapper #right #error a.close { padding-top: 5px; font-size: 8px; position: absolute; top: 3px; right: 5px; }
#wrapper #right #header-overlay { background-color: rgb(255, 255, 255); display: none; opacity: 0.7; position: absolute; width: 100%; max-width: 1400px; height: 800px; cursor: pointer; z-index: 10000; transition: opacity 0.25s ease-out 0s; }
#wrapper #right #content { height: calc(100% - 120px); overflow-y: auto; color: rgb(57, 69, 59); }
#wrapper #right #content p.no-content { font-size: 36px; line-height: 36px; color: rgb(87, 112, 89); font-weight: 100; text-align: center; width: 65%; margin: 0px auto; display: table; height: 100%; }
#wrapper #right #content p.no-content span { display: table-cell; vertical-align: middle; }
#wrapper #right #content p.no-content a.btn { margin-top: 25px; padding-top: 0px; }
#wrapper #right #content .tleft { height: 100%; width: 180px; float: left; background-color: rgb(223, 240, 225); overflow: hidden; -moz-user-select: none; }
#wrapper #right #content .tleft .heading-row { overflow: hidden; }
#wrapper #right #content .tright { margin-left: 180px; height: 100%; overflow: auto; position: relative; -moz-user-select: none; }
#wrapper #right #content .tright .ruler { position: absolute; width: 3840px; z-index: 1; }
#wrapper #right #content .tright .ruler .cell { width: 160px; height: 100%; float: left; border-left: 2px solid rgb(235, 131, 118); }
#wrapper #right #content .tright .ruler .hour { background-color: rgb(248, 249, 248); position: relative; cursor: default; }
#wrapper #right #content .tright .ruler .hour .hour-text { font-size: 30px; line-height: 30px; font-weight: 100; color: rgb(232, 101, 84); margin: 17px 0px 0px 7px; }
#wrapper #right #content .tright .ruler .hour .minutes { position: absolute; bottom: 0px; width: 100%; line-height: 10px; }
#wrapper #right #content .tright .ruler .hour .minutes div { width: 25%; float: left; border-right: 1px solid rgb(209, 229, 210); }
#wrapper #right #content .tright .ruler .hour .minutes div > span { color: rgb(87, 112, 89); padding-left: 7px; font-size: 14px; font-weight: 500; position: relative; top: -5px; }
#wrapper #right #content .tright .ruler .hour .minutes div:nth-child(2) { border-color: rgb(181, 214, 185); }
#wrapper #right #content .tright .ruler .hour .minutes div:last-child { border: 0px none; }
#wrapper #right #content .tright .ruler .time-slot { width: 25%; height: 100%; float: left; border-right: 1px solid rgb(239, 243, 239); border-bottom: 1px solid rgb(181, 214, 185); cursor: pointer; }
#wrapper #right #content .tright .ruler .time-slot:hover { background-color: rgb(255, 255, 224); }
#wrapper #right #content .tright .ruler .time-slot:nth-child(2) { border-color: rgb(181, 214, 185); }
#wrapper #right #content .tright .ruler .time-slot:last-child { border-right: 0px none; }
#wrapper #right #content .tright .ruler .meetings { position: absolute; }
#wrapper #right #content .trow { height: 80px; clear: both; position: relative; }
#wrapper #right #content .location-selector { position: relative; background-color: rgb(223, 240, 225); width: 100%; }
#wrapper #right #content .location-selector select { -moz-appearance: none; border: 0px none; border-radius: 0px; color: rgb(16, 202, 18); background-color: rgb(223, 240, 225); font-size: 18px; font-weight: 500; padding: 0px 0px 0px 11px; height: 80%; width: 200px; max-width: none; cursor: pointer; }
#wrapper #right #content .location-selector select:focus { box-shadow: none; outline: medium none; }
#wrapper #right #content .location-selector .description { position: absolute; left: 11px; bottom: 15px; font-size: 14px; font-weight: 500; color: rgb(122, 145, 125); cursor: pointer; }
#wrapper #right #content .location-selector i { font-size: 12px; float: right; margin-right: 10px; position: absolute; top: 30px; right: 7px; color: rgb(16, 202, 18); transform: rotate(180deg); cursor: pointer; }
#wrapper #right #content .trow-heading { height: 80px; border-bottom: 1px solid rgb(181, 214, 185); }
#wrapper #right #content .heading-row { transition: height 0.25s ease-out 0s; position: absolute; z-index: 5000; }
#wrapper #right #content .heading-row .trow-heading { border-bottom: 1px solid rgb(181, 214, 185); }
#wrapper #right #content .heading-row .cell { border-bottom: 1px solid rgb(181, 214, 185); }
#wrapper #right #content .heading-row.closed { transition: height 0.25s ease-out 0s; height: 80px ! important; }
#wrapper #right #content .monthly:nth-child(2) .heading-row { transition: none 0s ease 0s ; height: 80px ! important; }
#wrapper #right #content .monthly:nth-child(2) .heading-row.closed { transition: none 0s ease 0s ; }
#wrapper #right #content .trow.room { background-color: rgb(237, 242, 237); border-bottom: 1px solid rgb(181, 214, 185); border-left: 3px solid rgb(237, 242, 237); padding: 0px 12px 12px; position: relative; }
#wrapper #right #content .trow.room .name { padding-top: 12px; color: rgb(47, 56, 49); font-size: 16px; line-height: 20px; font-weight: 700; max-height: 33px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
#wrapper #right #content .trow.room .capacity { color: rgb(87, 112, 89); font-size: 12px; line-height: 12px; font-weight: 500; }
#wrapper #right #content .trow.room .image { width: 20px; height: 20px; background-color: rgb(199, 214, 200); position: absolute; bottom: 10px; right: 10px; }
#wrapper #right #content .trow.first { overflow: hidden; padding-top: 80px ! important; height: 160px; }
#wrapper #right #content .monthly .trow:nth-child(2) { height: 160px; padding-top: 80px; }
#wrapper #right #content.pad-small { padding-bottom: 20px; }
#wrapper #right .right-footer { z-index: 5002; background-color: rgb(237, 242, 237); width: 100%; height: 40px; position: fixed; bottom: 0px; }
#wrapper #right .right-footer .tleft a, #wrapper #right .right-footer .tright a { color: rgb(14, 176, 16); font-size: 12px; line-height: 12px; font-weight: 500; margin-right: 20px; }
#wrapper #right .right-footer .tleft a:hover, #wrapper #right .right-footer .tright a:hover { color: rgb(87, 112, 89); }
#wrapper #right .right-footer .tleft a:last-child, #wrapper #right .right-footer .tright a:last-child { margin: 0px; }
#wrapper #right .right-footer .tleft .search-room, #wrapper #right .right-footer .tright .search-room { padding: 5px; display: inline-block; max-width: 24px; height: 24px; font-size: 20px; float: left; position: relative; top: -1px; color: rgb(255, 255, 255); }
#wrapper #right .right-footer .tleft .search-room span, #wrapper #right .right-footer .tright .search-room span { display: none; position: relative; top: -2px; }
#wrapper #right .right-footer .tleft .search-room:hover, #wrapper #right .right-footer .tright .search-room:hover { color: rgb(255, 255, 255); max-width: none; padding-right: 10px; }
#wrapper #right .right-footer .tleft .search-room:hover span, #wrapper #right .right-footer .tright .search-room:hover span { display: inline; font-size: 14px; }
#wrapper #right .right-footer .tleft { background-color: rgb(209, 229, 210); height: 40px; width: 180px; position: absolute; bottom: 0px; padding: 10px 0px 0px 18px; float: left; }
#wrapper #right .right-footer .tright { margin-left: 180px; }
#wrapper #right .right-footer .tright .ruler-helper { width: 400px; margin: 15px auto; position: relative; cursor: pointer; -moz-user-select: none; }
#wrapper #right .right-footer .tright .ruler-helper .boxes { width: 400px; height: 16px; position: absolute; top: 0px; left: 0px; }
#wrapper #right .right-footer .tright .ruler-helper .boxes span { display: block; width: 3.5416%; height: 14px; float: left; margin-right: 0.5%; background-color: rgb(209, 229, 210); }
#wrapper #right .right-footer .tright .ruler-helper .boxes span.spaced { margin-left: 0.7%; }
#wrapper #right .right-footer .tright .ruler-helper .boxes-red span { background-color: rgb(245, 176, 167); }
#wrapper #right .right-footer .tright .ruler-helper .boxes-red-container { position: absolute; top: -3px; border: 1px solid rgb(245, 176, 167); width: 76px; height: 20px; padding: 2px; overflow: hidden; }
#wrapper #right .right-footer .tright .ruler-helper .boxes-red-container .spans { position: relative; left: -3px; }
#wrapper #right .right-footer .tright .ruler-helper .boxes-red-container .spans .boxes { position: absolute; }
#wrapper .header { height: 120px; }
#wrapper .relative { position: relative; }
.daily #wrapper #right .right-footer .tright .search-room { top: 8px; left: 18px; }
.popup { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 8500; display: none; }
.popup .popup-overlay { width: 100%; height: 100%; background-color: rgb(57, 69, 59); opacity: 0.5; }
.popup .popup-border { padding: 10px; position: absolute; top: 50%; left: 50%; background-color: rgba(58, 66, 69, 0.5); transform: translate(-50%, -50%); }
.popup .popup-content { background-color: rgb(255, 255, 255); min-width: 280px; min-height: 100px; z-index: 7501; }
.popup .popup-close { position: absolute; top: 20px; right: 15px; z-index: 7502; font-size: 17px; }
.popup .popup-close i { color: rgb(14, 176, 16); }
.popup .popup-close i:active { color: rgb(232, 101, 84); font-size: 14px; }
.search-results { list-style-type: none; margin: 0px; padding: 0px; display: block; width: 254px; background-color: rgb(255, 255, 255); position: absolute; top: 73px; right: 70px; z-index: 7000; border-top: 1px solid rgb(166, 245, 168); border-bottom: 1px solid rgb(166, 245, 168); }
.popup.visible { display: block; }
.meeting-pop-details { min-width: 300px; max-width: 350px; }
.meeting-pop-details .heading { padding: 19px; background-color: rgb(237, 242, 237); }
.meeting-pop-details .heading .title { padding-right: 30px; font-size: 28px; font-weight: 500; color: rgb(57, 69, 59); line-height: 28px; }
.meeting-pop-details .heading .hour, .meeting-pop-details .heading .hour a { font-size: 18px; font-weight: 500; color: rgb(232, 101, 84); line-height: 20px; padding-top: 8px; }
.meeting-pop-details .heading .room { font-size: 14px; font-weight: 500; color: rgb(122, 145, 125); }
.meeting-pop-details .error { background-color: rgb(235, 131, 118); color: rgb(255, 255, 255); padding: 10px; font-size: 16px; font-weight: 300; }
.meeting-pop-details .description { padding: 20px; font-size: 14px; font-weight: 500; color: rgb(87, 112, 89); max-height: 395px; overflow: auto; }
.meeting-pop-details .description p:last-child { margin: 0px; }
.meeting-pop-details .description .small-alert { font-size: 12px; color: rgb(232, 101, 84); }
.meeting-pop-details .buttons { height: 40px; text-align: center; background-color: rgb(248, 249, 248); border-top: 1px solid rgb(209, 229, 210); display: flex; }
.meeting-pop-details .buttons a { font-size: 16px; font-weight: 300; color: rgb(87, 112, 89); cursor: pointer; border-right: 1px solid rgb(209, 229, 210); display: inline-block; height: 100%; padding-top: 9px; text-align: center; -moz-box-flex: 1; flex: 1 1 0%; transition: all 0.25s ease 0s; }
.meeting-pop-details .buttons a i { margin-right: 3px; position: relative; top: 3px; color: rgb(16, 202, 18); transition: all 0.25s ease 0s; }
.meeting-pop-details .buttons a.btn-primary { color: rgb(16, 202, 18); }
.meeting-pop-details .buttons a:last-child { border-right: 0px none; padding-right: 0px; }
.meeting-pop-details .buttons a:hover { background-color: rgb(237, 242, 237); color: rgb(87, 112, 89); }
.meeting-pop-details .buttons a:hover i { color: rgb(87, 112, 89); }
.meeting-pop-details.wide { max-width: 350px; width: 350px; }
.full-height { height: 100%; }
#help { position: absolute; right: 60px; top: 38px; z-index: 8000; transition: right 0.25s ease-in 0s; }
#help a.trigger { position: absolute; top: 2px; left: 0px; width: 33px; height: 34px; }
#help a.trigger:active { color: rgb(209, 229, 210); }
#help ul { list-style-type: none; margin: 0px; padding: 0px; display: block; transition: left 0.25s ease-in 0s; position: absolute; top: -5px; left: 122px; background-color: rgb(181, 214, 185); overflow: hidden; width: 160px; }
#help ul a { display: block; padding: 5px 10px; color: rgb(57, 69, 59); border: 1px solid rgb(181, 214, 185); }
#help ul a:hover { background-color: rgb(255, 255, 255); color: rgb(122, 145, 125); }
.resources .rooms .room:nth-child(3) { border-right: 0px none; }
.vertical-container-padded > :first-child { margin-bottom: 80px; }
.click-through { pointer-events: none ! important; }
.integrations .integration .title::after { content: ""; display: block; width: 70px; border: 1px solid rgb(16, 202, 18); margin-top: 10px; }
.cookies-directive { position: absolute; bottom: 50px; right: -350px; max-width: 300px; background-color: rgb(255, 255, 255); border: 5px solid rgb(181, 214, 185); padding: 10px; transition: right 0.4s ease-out 0s; opacity: 0.8; z-index: 10000; }
.cookies-directive h2 { margin-bottom: 0px; font-weight: 500; font-size: 18px; }
.cookies-directive p { font-size: 11px; color: rgb(87, 112, 89); margin-bottom: 0px; padding-bottom: 0px; }
.cookies-directive p a { font-size: 11px; color: rgb(87, 112, 89); text-decoration: underline; }
.cookies-directive a.close { font-size: 20px; position: absolute; right: 10px; top: 0px; }
.location-select-narrow { display: none; }
.tabs .tabs-container::after, .tabs .tabs-headers::after { clear: both; }
.global-tooltip { position: absolute; z-index: 120000; padding: 8px 15px; color: rgb(255, 255, 255); background-color: rgb(113, 198, 114); font-weight: 300; max-width: 250px; text-align: center; }
.global-tooltip::after { content: ""; width: 0px; height: 0px; border-style: solid; border-width: 8px 5px 0px; border-color: rgb(113, 198, 114) transparent transparent; position: absolute; bottom: -8px; left: calc(50% - 5px); }
input, select, textarea { width: 100%; height: 34px; background-color: rgb(255, 255, 255); color: rgb(87, 112, 89); border: 1px solid rgb(209, 229, 210); font-size: 18px; font-weight: 300; padding: 10px 10px 0px; }
select { padding: 0px 0px 0px 10px; border-radius: 0px; cursor: pointer; }
input { padding-top: 0px; border-radius: 0px; }
input.invisible { position: absolute; }
textarea { height: auto; padding-bottom: 10px; }
textarea:focus, input:focus, select:focus { outline: medium none; border: 1px solid rgb(17, 227, 21); box-shadow: 0px 0px 7px rgb(181, 214, 185); }
.control-group { padding-bottom: 10px; }
.control-group.two-inputs { height: 45px; }
.control-group.two-inputs .input { float: left; width: 48.3%; }
.control-group.two-inputs .input:last-child { float: right; }
form.edit { padding: 33px 0px 50px; }
form.edit-no-padding { padding-top: 0px; padding-bottom: 80px; }
.meeting-pop-details form.edit-no-padding { padding-bottom: 0px; }
input.invisible { width: auto; }
.select2-container .select2-choice .select2-arrow b::before { font-family: "yarooms-icons" ! important; font-style: normal ! important; font-weight: normal ! important; font-variant: normal ! important; text-transform: none ! important; line-height: 1; content: "8"; }
.select2-results li.select2-result-with-children > .select2-result-label::after { display: none; }
.select2-container-multi .select2-search-choice-close::before { font-family: "yarooms-icons" ! important; font-style: normal ! important; font-weight: normal ! important; font-variant: normal ! important; text-transform: none ! important; line-height: 1; content: "x"; }
.select2-drop-multi .select2-results .select2-result-label::after { font-family: "yarooms-icons" ! important; font-style: normal ! important; font-weight: normal ! important; font-variant: normal ! important; text-transform: none ! important; line-height: 1; content: "x"; color: rgb(16, 202, 18); font-size: 10px; position: relative; left: 12px; transform: rotate(45deg); display: inline-block; }
.select2-result-unselectable *::after { color: rgb(122, 145, 125) ! important; }
.colorpicker-saturation i::after { content: ""; display: block; height: 7px; width: 7px; border: 1px solid rgb(255, 255, 255); border-radius: 5px; }
.colorpicker .dropdown-menu::after, .colorpicker .dropdown-menu::before { content: ""; display: inline-block; position: absolute; }
.colorpicker .dropdown-menu::after { clear: both; border: 6px solid transparent; top: -5px; left: 7px; }
.colorpicker .dropdown-menu::before { border: 7px solid transparent; top: -6px; left: 6px; }
.colorpicker-position-top .dropdown-menu::after { border-top: 6px solid rgb(255, 255, 255); border-bottom: 0px none; top: auto; bottom: -5px; }
.colorpicker-position-top .dropdown-menu::before { border-top: 7px solid rgba(0, 0, 0, 0.2); border-bottom: 0px none; top: auto; bottom: -6px; }
.colorpicker-position-right .dropdown-menu::after { border-right: 6px solid rgb(255, 255, 255); border-left: 0px none; top: 11px; left: -5px; }
.colorpicker-position-right .dropdown-menu::before { border-right: 7px solid rgba(0, 0, 0, 0.2); border-left: 0px none; top: 10px; left: -6px; }
.colorpicker-position-bottom .dropdown-menu::after { border-bottom: 6px solid rgb(255, 255, 255); border-top: 0px none; }
.colorpicker-position-bottom .dropdown-menu::before { border-bottom: 7px solid rgba(0, 0, 0, 0.2); border-top: 0px none; }
.colorpicker-position-left .dropdown-menu::after { border-left: 6px solid rgb(255, 255, 255); border-right: 0px none; top: 11px; left: auto; right: -5px; }
.colorpicker-position-left .dropdown-menu::before { border-left: 7px solid rgba(0, 0, 0, 0.2); border-right: 0px none; top: 10px; left: auto; right: -6px; }
.ui-helper-clearfix::before, .ui-helper-clearfix::after { content: ""; display: table; border-collapse: collapse; }
.ui-helper-clearfix::after { clear: both; }
input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
a.btn, a.btn:active { display: inline-block; min-width: 105px; height: 34px; color: rgb(255, 255, 255); background-color: rgb(16, 202, 18); font-size: 16px; font-weight: 300; text-align: center; padding: 6px 20px 0px; border-color: rgb(10, 173, 12); border-style: solid; border-width: 0px 0px 2px; vertical-align: top; }
a.btn i, a.btn:active i { color: rgb(255, 255, 255); font-size: 11px; }
a.btn:hover { background-color: rgb(17, 227, 21); border-bottom-color: rgb(11, 196, 13); }
a.btn:active { border-bottom-width: 0px; border-top-width: 2px; }
a.add i { display: inline-block; font-size: 14px; position: relative; top: 2px; left: 5px; }
a.square-button { background-color: rgb(181, 214, 185); color: rgb(255, 255, 255); font-size: 23px; text-align: center; font-weight: 700; padding-top: 2px; }
a.square-button:hover { color: rgb(248, 249, 248) ! important; }
a.square-button:active { color: rgb(248, 249, 248) ! important; border-top: 1px solid rgb(181, 214, 185); border-left: 1px solid rgb(181, 214, 185); }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body { background-color: rgb(223, 240, 225); }
	.header { background-color: rgb(57, 69, 59); }
	#wrapper #left { transition: width 0s ease 0s; }
	#content.pad-small { padding-bottom: 40px; }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	#wrapper #right #header h1 { display: block; width: 300px; height: 36px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
	#wrapper #right #header .search { margin-top: 42px; width: 190px; }
	#wrapper #right #header .search input { width: 190px; }
	.search-results { width: 190px; }
}
.landscape-warning { display: none; height: 100%; width: 100%; }
.landscape-warning p { vertical-align: middle; display: table-cell; text-align: center; width: 100%; font-size: 20px; font-weight: 100; }
@media all and (min-device-width: 320px) and (max-device-width: 640px) {
	body { background-color: rgb(223, 240, 225); }
	.header { background-color: rgb(57, 69, 59); }
	#wrapper #right #header h1 { top: 15px; font-size: 21px; padding-left: 14px; height: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 175px ! important; }
	#wrapper #right #header .date-selector-trigger { display: block; position: absolute; top: 15px; right: 0px; padding-right: 0px; }
	#wrapper #right #header .date-selector-trigger a { font-size: 21px ! important; }
	#wrapper #right #header .date-selector-trigger a.date { margin: 0px; }
	#wrapper #right #header .date-selector-trigger a.calendar { display: none; }
	#wrapper #right #header .date-selector-trigger a.arrow { width: 21px; height: 21px; }
	#wrapper #right #header .datepicker { width: 100%; padding-top: 70px; }
	#wrapper #right #header .datepicker .date-selector-trigger { padding-left: 0px; }
	#wrapper #right #header .datepicker .body { width: 100%; }
	#wrapper #right #header .datepicker .body table td, #wrapper #right #header .datepicker .body table th { width: auto; }
	#wrapper #right #header .datepicker .body table thead td { font-size: 12px; }
	#wrapper #right #header .datepicker.day a.arrow, #wrapper #right #header .datepicker.week a.arrow { position: absolute; top: -66px; width: 25px; height: 25px; display: none; }
	#wrapper #right #header .datepicker.day a.arrow i, #wrapper #right #header .datepicker.week a.arrow i { font-size: 25px; }
	#wrapper #right #header .datepicker.day a.left, #wrapper #right #header .datepicker.week a.left { left: 10px; }
	#wrapper #right #header .datepicker.day a.right, #wrapper #right #header .datepicker.week a.right { right: 10px; }
	#wrapper #right #content { height: calc(100% - 60px); }
	#wrapper #right #content .heading-row.closed { height: 50px ! important; }
	#wrapper #right #content .trow-heading { height: 50px; }
	#wrapper #right #content .trow.room { padding: 0px 4px; }
	#wrapper #right #content .trow.room .name { font-size: 11px; line-height: 11px; }
	#wrapper #right #content .trow.room .capacity { display: none; }
	#wrapper #right #content .tleft { width: 50px; }
	#wrapper #right #content .tright { margin-left: 0px; }
	#wrapper #right #content .monthly:nth-child(2) .heading-row { height: 40px ! important; }
	#wrapper #right #content .trow { height: 50px; }
	#wrapper #right #content .weekly .trow:nth-child(2), #wrapper #right #content .monthly .trow:nth-child(2) { height: 90px; padding-top: 40px; }
	#wrapper #right .right-footer .tright { margin-left: 0px; }
	#wrapper #header { height: 58px; }
	#wrapper .header { height: 60px; }
	#wrapper .vertical-container-padded > :first-child { margin-bottom: 40px; }
	body.schedule #wrapper #right #header h1 { max-width: 125px; }
	body.weekly #wrapper #right #content .right-footer .tleft, body.daily #wrapper #right #content .right-footer .tleft { display: none; }
	body.weekly #wrapper #right #content .tleft .trow-heading, body.daily #wrapper #right #content .tleft .trow-heading { width: 50px; background-color: rgb(223, 240, 225); }
	body.weekly #wrapper #right #content .location-selector .trow-heading, body.daily #wrapper #right #content .location-selector .trow-heading { display: none; }
	body.weekly #wrapper #right #content .ruler-helper, body.daily #wrapper #right #content .ruler-helper { display: none; }
	body.weekly #wrapper #right #content .trow.first, body.daily #wrapper #right #content .trow.first { padding-top: 50px ! important; height: 100px; }
	body.weekly #wrapper #right #content .trow.room .image, body.weekly #wrapper #right #content .trow.room .capacity, body.daily #wrapper #right #content .trow.room .image, body.daily #wrapper #right #content .trow.room .capacity { display: none; }
	body.weekly #wrapper #right #content .trow.room .name, body.daily #wrapper #right #content .trow.room .name { white-space: initial; max-height: 45px; }
	body.weekly #wrapper #right #content .tright .ruler .hour .hour-text, body.daily #wrapper #right #content .tright .ruler .hour .hour-text { margin: 2px 0px 0px 6px; font-size: 24px; }
	body.weekly #wrapper #right #content.pad-small, body.daily #wrapper #right #content.pad-small { padding-bottom: 40px; }
	body.weekly .right-footer .tleft, body.daily .right-footer .tleft { display: none; }
	.popup .popup-overlay { display: none; }
	.popup .popup-border { width: 100%; height: 100%; }
	.popup .popup-border .relative { height: 100%; }
	.popup .popup-border .popup-content { height: 100%; }
	.popup .popup-border .buttons { position: absolute; bottom: 0px; width: 100%; }
	#help { display: none; }
	form.edit .control-group { width: 90%; margin: 0px auto; }
	.meeting-pop-details { max-width: none ! important; width: auto ! important; }
	.meeting-pop-details form.edit .control-group { width: 100%; }
	h2 { font-size: 18px; line-height: 18px; }
}
.meeting-color5 .heading { border-bottom: 4px solid rgb(145, 224, 65); }
[ng\:cloak], [ng-cloak], .ng-cloak { display: none ! important; }
@font-face {
	font-family: "intercom-font";
	src: url('proximanova-regular.ed964b0f.woff') format("woff");
}
@font-face {
	font-family: "intercom-font";
	font-weight: 700;
	src: url('proximanova-semibold.791adc40.woff') format("woff");
}
@font-face {
	font-family: "intercom-font";
	font-style: italic;
	src: url('proximanova-regular-italic.9a7c1f02.woff') format("woff");
}
@font-face {
	font-family: "intercom-font";
	font-style: italic;
	font-weight: 700;
	src: url('proximanova-semibold-italic.63f4843f.woff') format("woff");
}
#intercom-container a, #intercom-container abbr, #intercom-container acronym, #intercom-container address, #intercom-container applet, #intercom-container article, #intercom-container aside, #intercom-container audio, #intercom-container b, #intercom-container big, #intercom-container blockquote, #intercom-container button, #intercom-container canvas, #intercom-container caption, #intercom-container center, #intercom-container cite, #intercom-container code, #intercom-container dd, #intercom-container del, #intercom-container details, #intercom-container dfn, #intercom-container div, #intercom-container div.form, #intercom-container dl, #intercom-container dt, #intercom-container em, #intercom-container fieldset, #intercom-container figcaption, #intercom-container figure, #intercom-container footer, #intercom-container form, #intercom-container h1, #intercom-container h2, #intercom-container h3, #intercom-container h4, #intercom-container h5, #intercom-container h6, #intercom-container header, #intercom-container hgroup, #intercom-container i, #intercom-container iframe, #intercom-container img, #intercom-container input, #intercom-container input[type], #intercom-container ins, #intercom-container kbd, #intercom-container label, #intercom-container legend, #intercom-container li, #intercom-container mark, #intercom-container menu, #intercom-container nav, #intercom-container object, #intercom-container ol, #intercom-container p, #intercom-container pre, #intercom-container q, #intercom-container s, #intercom-container samp, #intercom-container section, #intercom-container small, #intercom-container span, #intercom-container strike, #intercom-container strong, #intercom-container sub, #intercom-container summary, #intercom-container sup, #intercom-container table, #intercom-container tbody, #intercom-container td, #intercom-container textarea, #intercom-container tfoot, #intercom-container th, #intercom-container thead, #intercom-container time, #intercom-container tr, #intercom-container tt, #intercom-container u, #intercom-container ul, #intercom-container var, #intercom-container video { letter-spacing: normal; font-family: intercom-font,Helvetica Neue,Helvetica,Arial,sans-serif; font-style: normal; font-weight: normal; font-size: 100%; font-size-adjust: none; font-stretch: normal; font-feature-settings: normal; font-language-override: normal; font-kerning: auto; font-synthesis: weight style; font-variant: normal; -moz-text-align-last: initial; text-decoration: none; text-emphasis: none; text-indent: 0px; text-shadow: none; text-transform: none; animation-play-state: running; backface-visibility: visible; background-color: transparent; background-image: none; border: 0px none transparent; border-radius: 0px; bottom: auto; box-decoration-break: slice; box-shadow: none; box-sizing: content-box; caption-side: top; clear: none; clip: auto; color: inherit; -moz-column-fill: balance; -moz-column-gap: normal; -moz-columns: auto auto; content: normal; counter-increment: none; counter-reset: none; cursor: auto; direction: ltr; display: inline; dominant-baseline: auto; empty-cells: show; float: none; height: auto; hyphens: manual; image-rendering: auto; left: auto; line-height: inherit; list-style: outside none disc; margin: 0px; max-height: none; max-width: none; min-height: 0px; min-width: 0px; opacity: 1; outline-offset: 0px; overflow: visible; padding: 0px; page-break-after: auto; page-break-before: auto; page-break-inside: auto; perspective: none; perspective-origin: 50% 50%; position: static; quotes: none; resize: none; right: auto; table-layout: auto; top: auto; transform: none; transform-origin: 50% 50% 0px; transform-style: flat; unicode-bidi: normal; vertical-align: baseline; white-space: normal; width: auto; word-break: normal; word-spacing: normal; word-wrap: normal; z-index: auto; text-align: start; }
#intercom-container address, #intercom-container article, #intercom-container aside, #intercom-container blockquote, #intercom-container canvas, #intercom-container center, #intercom-container dd, #intercom-container details, #intercom-container dir, #intercom-container div, #intercom-container div.form, #intercom-container dl, #intercom-container dt, #intercom-container fieldset, #intercom-container figcaption, #intercom-container figure, #intercom-container footer, #intercom-container form, #intercom-container frame, #intercom-container frameset, #intercom-container h1, #intercom-container h2, #intercom-container h3, #intercom-container h4, #intercom-container h5, #intercom-container h6, #intercom-container header, #intercom-container hgroup, #intercom-container hr, #intercom-container menu, #intercom-container nav, #intercom-container noframes, #intercom-container ol, #intercom-container p, #intercom-container pre, #intercom-container section, #intercom-container summary, #intercom-container ul { display: block; }
#intercom-container input::-moz-selection, #intercom-container textarea::-moz-selection { background-color: rgb(179, 212, 252); }
#intercom-container input::-moz-placeholder, #intercom-container textarea::-moz-placeholder { letter-spacing: normal; font: 100% intercom-font,Helvetica Neue,Helvetica,Arial,sans-serif; text-align: left; -moz-text-align-last: initial; text-decoration: none; text-emphasis: none; text-indent: 0px; text-shadow: none; text-transform: none; background-color: inherit; color: inherit; }
#intercom-container button::-moz-focus-inner { border: 0px none; padding: 0px; }
#intercom-container { line-height: 1; }
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
#intercom-container .intercom-notifications { z-index: 2147483000; position: fixed; bottom: 20px; right: 20px; }
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
#intercom-container .intercom-chat-card-with-avatar::after { content: " "; position: absolute; right: 100%; bottom: 15px; width: 9px; height: 21px; background-image: url('chat-caret.fceaae01.png'); background-size: 9px 21px; background-repeat: no-repeat; }
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
	#intercom-container .intercom-chat-card-with-avatar::after { background-image: url('chat-caret@2x.c94f492d.png'); }
}
#intercom-container .intercom-chat-card-body-scrollable::after { position: absolute; content: " "; bottom: 15px; left: 0px; right: 0px; height: 15px; background: transparent linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255) 15px) repeat scroll 0% 0%; border-radius: 0px 0px 8px 8px; }
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
#intercom-container .intercom-chat-snippet-card::after { content: ""; position: absolute; bottom: 15px; right: 100%; width: 9px; height: 21px; background-image: url('chat-caret.fceaae01.png'); background-size: 9px 21px; background-repeat: no-repeat; }
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
	#intercom-container .intercom-chat-snippet-card::after { background-image: url('chat-caret@2x.c94f492d.png'); }
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
#intercom-container .intercom-conversation-summary::after, #intercom-container .intercom-conversation-summary::before { content: " "; display: table; }
#intercom-container .intercom-conversation-summary::after { clear: both; }
#intercom-container .intercom-conversation-summary-meta::after, #intercom-container .intercom-conversation-summary-meta::before { content: " "; display: table; }
#intercom-container .intercom-conversation-summary-meta::after { clear: both; }
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
#intercom-container .intercom-conversation-part::after, #intercom-container .intercom-conversation-part::before { content: " "; display: table; }
#intercom-container .intercom-conversation-part::after { clear: both; }
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
#intercom-container .intercom-email-collector-input-container input[type="email"]::-moz-placeholder, #intercom-container .intercom-phone-number-collector-input-container input[type="text"]::-moz-placeholder { color: rgb(168, 182, 194); font-size: 15px; font-weight: 400; line-height: 32px; }
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
#intercom-container .intercom-notification-channel-icon-container::before { content: ""; display: inline-block; vertical-align: middle; height: 100%; }
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
#intercom-container .intercom-composer textarea::-moz-placeholder { color: rgb(168, 182, 194); font-size: 16px; font-weight: 400; line-height: 1.33; opacity: 0.6; }
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
#intercom-container .intercom-post-card.intercom-post-card-truncated::after { position: absolute; opacity: 1; transition: opacity 0.1s ease 0s; bottom: 0px; right: 0px; left: 0px; height: 60px; content: " "; background: transparent linear-gradient(0deg, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0)) repeat scroll 0% 0%; border-radius: 0px 0px 5px 5px; }
#intercom-container .intercom-comment-container-freehand-with-avatar::after { content: " "; position: absolute; right: 100%; bottom: 15px; width: 9px; height: 21px; background-image: url('chat-caret.fceaae01.png'); background-size: 9px 21px; background-repeat: no-repeat; }
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
	#intercom-container .intercom-comment-container-freehand-with-avatar::after { background-image: url('chat-caret@2x.c94f492d.png'); }
}
#intercom-container .intercom-emoji-picker::after, #intercom-container .intercom-emoji-picker::before { content: " "; position: absolute; top: 100%; right: 47px; height: 0px; width: 0px; border: medium solid transparent; }
#intercom-container .intercom-emoji-picker::after { border-top-color: rgb(255, 255, 255); border-width: 7px; margin-right: -12px; }
#intercom-container .intercom-emoji-picker::before { border-top-color: rgb(201, 215, 223); border-width: 8px; margin-right: -13px; }
#intercom-container .intercom-emoji-picker-panel-container::after, #intercom-container .intercom-emoji-picker-panel-container::before { z-index: 2147483001; content: " "; position: absolute; left: 0px; height: 30px; width: 100%; pointer-events: none; }
#intercom-container .intercom-emoji-picker-panel-container::before { background: transparent linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0) 8px) repeat scroll 0% 0%; top: 0px; width: 260px; height: 16px; }
#intercom-container .intercom-emoji-picker-panel-container::after { background: transparent linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255) 8px) repeat scroll 0% 0%; border-radius: 0px 3px; bottom: 0px; width: 260px; height: 16px; }
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
#intercom-container .intercom-emoji-picker-search::-moz-placeholder { color: rgb(201, 215, 223); }
#intercom-container .intercom-freehand .intercom-composer textarea::-moz-placeholder { font-size: 15px; color: rgb(165, 173, 182); }
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
#intercom-container .intercom-chat-card .intercom-block-video::before, #intercom-container .intercom-chat .intercom-block-video::before, #intercom-container .intercom-comment .intercom-block-video::before, #intercom-container .intercom-note-card .intercom-block-video::before, #intercom-container .intercom-note .intercom-block-video::before, #intercom-container .intercom-post-card .intercom-block-video::before, #intercom-container .intercom-post .intercom-block-video::before { display: block; content: " "; width: 100%; padding-top: 56.25%; }
#intercom-container .intercom-comment-single .intercom-block-video-reply::before, #intercom-container .intercom-comment .intercom-block-video-reply::before { display: block; content: " "; width: 100%; padding-top: 75%; }
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
}
@media only screen and (max-device-width: 667px) {
	#intercom-container .intercom-notifications { width: calc(100% - 40px); }
}
@media not all, only screen and (max-device-width: 667px) and (min--moz-device-pixel-ratio: 1.3), not all, only screen and (max-device-width: 667px) and (min-resolution: 1.3dppx) {
}
@media only screen and (max-device-width: 667px) {
}
